<h1>Who am I?</h1>
<p>I'm Connor O'Leary, a student attending the Hillcrest High School and currently in the CTS program.
From an early age I've been interested in coding whether it be web design, app developement, or game design.
Currently I'm invested in Java, C#, HTML, Javascript, CSS, and Ruby with the desire to learn more and use what I've learned.</p>
