<h1>Who am I?</h1>

<hr>
<div class = "row">
  <div class = "col-md-4">
    
    <%= image_tag "Card.png", width: 200, alt: "Profile Picture"%>
  </div>
  <div class = "col-md-8">
    <p>I'm Connor O'Leary, a student attending Hillcrest High School and currently in the CTS program.
    From an early age I've been interested in coding whether it be developement in web design, applications, or gaming.
    Currently I'm invested in Java, C#, HTML, Javascript, CSS, and Ruby.
    I hope to further my knowledge in all forms of coding and put what I've learned to use.</p>
  </div>
</div>