<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I'm Connor O'Leary. 
  I'm a student interested in coding as a whole and using what I've learned to further the field. 
  This aspiration had led me to joining the CTS program which helped me understand rails and create this detailed portfolio. 
  I hope that for whatever reason you're visiting this portfolio, I can help by putting my skills to good use.</p>
  <p class="lead">
  <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
 