<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I'm Connor O'Leary. Currently I'm a student intersted in working with all kinds of coding such as rails. This led me to joining the CTS program and creating this portfolio. I hope you find what you're looking for in me.</p>
  <p class="lead">
  <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
 